<div class="content" role="main">

    <h1>Servicios</h1>

    <mat-toolbar>
        <button mat-button (click)="typeSelect=0" [ngClass]="{'btn_select':typeSelect==0}">Todos</button>
        <button *ngFor="let bt of types" mat-button (click)="typeSelect=bt.id"
            [ngClass]="{'btn_select':typeSelect==bt.id}">{{bt.name}}</button>
    </mat-toolbar>
    <div fxLayout="row wrap" fxLayoutAlign="start start" class="w-100">
        <div class="p-2" fxFlex="100" fxFlex.gt-xs="33" fxFlex.gt-md="25"
            *ngFor="let service of services | filterType:typeSelect">
            <app-card [data]="service"></app-card>
        </div>
        <div class="p-2" fxFlex="100" fxFlex.gt-xs="33" fxFlex.gt-md="25">
            <app-new-element [type]="typeSelect"></app-new-element>
        </div>
    </div>

</div>